<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyView</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    @if(IsSectionDefined("MessageBox")) @*eğer diğer sayfalarda messagebox varsa onu yazdır*@
    {
         @RenderSection("MessageBox")
    }
    else @*olaki yoksa*@
    {
        <div class="alert alert-primary text-center m-0">
            Welcome!
        </div>
    }
    

    @await Html.PartialAsync("_navbar")

    @RenderSection("Hedaer",false) @*render section sıralamasına dikkat etmeliyiz burada nereye yazdıysak bunu açtığımız yerde orada çıkar*@

    <main class="mb-3">
        <div class="container"> 

            @if(IsSectionDefined("Categories")) @* eğerki diğer sayfalarda @section Categories{
   @await Component.InvokeAsync("Categories")}  varsa bu blogu ugyula*@
            {
                <div class="row">
                    <div class="col-md-3"> @*üçlük kısma categoriesi getirirsin false yaptımki istemeyen getirmesin heryerde zorunlu olmasın*@
                        @RenderSection("Categories",false)
                    </div>
                    <div class="col-md-9"> @*9luk kısma istediğini yazsın*@
                        @RenderBody()
                    </div>
                </div>
            }   
            else @*categories yoksa direk 12lik kolona renderbody gelsin istediği yani*@
            {
                 <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                 </div>   
            }
            
        </div>
    </main>

    <footer class="py-5 bg-dark text-white text-center">
        eBookApp | 2020
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    @RenderSection("Scripts",false)
</body>
</html>